# IDE/System based files and folders #
/.buildpath
/.project
/.settings
.DS_Store
/.idea

# Configuration #
/etc/config.json

# Temp storage for downloaded resources #
/translations
/tests/Common/translations

# Storage for completed packages #
/packages
/tests/Common/packages

/bin/*
!/bin/console

last_build

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
