includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: 6
	reportUnmatchedIgnoredErrors: false
	checkGenericClassInNonGenericObjectType: false
	parallel:
		maximumNumberOfProcesses: 4
		processTimeout: 1000.0
	paths:
		- src/
		- tests/
